@model SortNumbers.Models.SortInput

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SortInput</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderedNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAscending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAscending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeToOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeToOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
