@model IEnumerable<SortNumbers.Models.SortInput>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Sort</a>
</p>
<a class="mb-2 btn btn-primary" target="_blank" asp-action="Export">Export all sorts as JSON</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Numbers
            </th>
            <th>
                Ordered Numbers
            </th>
            <th>
                Order
            </th>
            <th>
                Time to Order the numbers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedNumbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAscending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeToOrder)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
